.shop {
    display: flex;
    width: 100%;
    margin: 2vw 0;
    justify-content: center;
    align-content: center;
    text-align: center;

    .shop_container {
        display: inline-block;

        .win_1 {
            padding: 2vw;
            border-radius: 10px;
            box-shadow: 5px -5px 5px rgba(7, 7, 7, 0.5);
            background: rgba(192, 192, 192, 0.5);

            .icon_1 {
                width: 3vw;
                height: 3vw;
                display: inline-block;
                margin-right: 2vw;
                background: url('../img/icon_services/search.png') no-repeat;
                background-size: 100% 100%;
                backface-visibility: visible;
            }

            h1 {
                font-size: 2.5vw;
                font-weight: 700;
            }
        }

        .win_2 {
            padding: 2vw;
            border-radius: 10px;
            box-shadow: 5px -5px 5px rgba(7, 7, 7, 0.5);
            background: rgba(192, 192, 192, 0.5);

            .icon_2 {
                width: 3vw;
                height: 3vw;
                display: inline-block;
                background: url('../img/icon_services/like.png') no-repeat;
                background-size: 100% 100%;
                backface-visibility: visible;
                margin-right: 2vw;
            }

            h2 {
                font-size: 2.2vw;
                font-weight: 500;
            }
        }
    }
}


@media screen and (orientation:portrait) {
    .shop {
        .shop_container {
            .win_1 {
                .icon_1 {
                    width: 3.5vw;
                    height: 3.5vw;
                }

                h1 {
                    font-size: 4vw;
                }
            }

            .win_2 {
                margin-top:4vw;
                .icon_2 {
                    width: 3.5vw;
                    height: 3.5vw;
                }

                h2 {
                    font-size: 4vw;
                    font-weight: 500;
                }
            }
        }
    }
    
}